*{box-sizing: border-box;
}

#root{
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

#simboli {
    width: 100%;
}

#simboli > div {
    display: inline-block;
    vertical-align: top;
    width: 16%;
  
}

#simboli > div img {
    width: 100%;
}

#ciklusi {
    width: 456px;
    margin: auto;
    margin-top: 20px;
}

.polje, .provera {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid mediumblue;
    vertical-align: top;
    margin: 5px 2.5px;
}

.provera{
    border-radius: 25px;
}

.polje{
    text-align: center;
}

.polje img {
    width: 90%;
    height: 90%;
    margin-top: 5%;
}

#resenje {
    text-align: center;
    margin: auto;
}

#resenje > div {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid mediumblue;
    vertical-align: top;
    margin: 5px 2.5px;

}

#resenje > div img {
    width: 90%;
    height: 90%;
    margin-top: 5%;
}

button {
    float: none;
    clear: both;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: mediumblue;
    background-color: lightskyblue;
    border: 1px solid mediumblue;
}

button:hover {
    background-color: mediumblue;
    color: lightskyblue;
    cursor: pointer;
}